.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
.doggoBtn{
  font-weight: bold;
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 500;
  height: 60px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  align-items: center;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.doggoBtn:hover,
.doggoBtn:focus {
  background-color: #F082AC;
}

.dogMedia{
  display: inline-block;
  width:65vw;
}
.dogMedia img, .dogMedia video {
  width: 100%;
  height: auto;
}
.loadingData{
  text-align: center;
  width: 100vw;
  vertical-align: middle;
}
.loadingContainer{
  height: 50px;
}

.link{
  padding-top: 5rem;
  text-decoration: none;
  color: black;
}
/* Mobile */ 
@media (max-width: 700px) {
  .dogMedia{
    display: inline-block;
    width:95vw;
  }
}



/* Tablet and Smaller Desktop */ 
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
  .dogMedia{
    display: inline-block;
    width:90vw;
  }
}
